* {
    list-style-type: none;
}

body {
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    text-align: center;
    margin-top: 40px;

    h1 {
        color: white;
    }
}

.c-app {
    width: 700px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.c-form {
    width: 100%;
    margin: 15px 0;
}

.form-control {
    border-radius: 0 !important;
}

.c-todo-button {
    margin-right: 30px;
}

select {
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.c-todo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-todo {
    width: 700px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    li {
        text-transform: capitalize;
        color: white;
        font-weight: 600;
        font-size: 17px;
    }
}

.c-todo-item {
    &.completed {
        text-decoration: line-through;
        opacity: 0.8;

    }
}

h5 {
    cursor: pointer;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.count-wrapper {
    display: flex;
    align-items: center;
    
    button {
        margin-right: 10px;
    }
}

.count {
    position: relative;
    font-weight: bold;
    color: #000;
    outline: none;
}

.count:after {
    content: '';
    height: 1px;
    width: 100%;
    background: #ccc;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 12px -2px rgba(100, 110, 150, 0.2);
    font-size: inherit;
    background: #fff;
    color: #999;
    cursor: pointer;
    transition: 0.2s all;
}

button:hover {
    border: 1px solid #eee;
    box-shadow: 0 3px 8px -1px rgba(100, 110, 150, 0.2);
    color: #000;
}

button:active {
    box-shadow: none;
    transform: scale(0.9);
}

.paginationBttns {
    margin-top: 50px;
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black !important;
    background-color: black !important;
    color: white !important;
    cursor: pointer;
}

.paginationBttns a:hover {
    color:  black !important;
    background-color: white !important;
}

.paginationActive a {
    color:  black !important;
    background-color: white !important;
}

.paginationDisabled a {
    color: white !important;
    background-color: black !important;
}

.box {
    width: 700px;
    position: relative;
    display: flex;
    margin: 0 !important;
}

.box-left {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.box-right {
    padding: 20px;
    border: 1px solid black;
}

.close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
    transition: ease 2s;

    &.true {
        display: block;
    }
}

.alertInfo {
    display: none;

    &.true {
        display: block;
    }
}